#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_digibyte
#build/digibyted::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_digibyte)

DEB_INSTALL_EXAMPLES_digibyted += debian/examples/*
DEB_INSTALL_MANPAGES_digibyted += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix digibyted
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f digibyte-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake digibyte-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_digibyte
	src/test_digibyte

# Ensure wrapper is set executable
binary-post-install/digibyted:
	chmod +x $(cdbs_curdestdir)usr/bin/digibyted
binary-post-install/digibyte-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/digibyte-qt
