*.tar.gz

*.exe
*.pdb
src/digibyte
src/digibyted
src/digibyte-cli
src/digibyte-gui
src/digibyte-node
src/digibyte-tx
src/digibyte-util
src/digibyte-wallet
src/test/fuzz/fuzz
src/test/test_digibyte
src/qt/test/test_digibyte-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.cache
config.log
config.status
configure
libtool
src/config/digibyte-config.h
src/config/digibyte-config.h.in
src/config/stamp-h1
src/obj
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/digibyte-qt.config
src/qt/digibyte-qt.creator
src/qt/digibyte-qt.creator.user
src/qt/digibyte-qt.files
src/qt/digibyte-qt.includes

.deps
.dirstamp
.libs
.*.swp
*~
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg
*.iso

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/**/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
!depends/Makefile
src/qt/digibyte-qt
DigiByte-Qt.app
background.tiff*

# Qt Creator
Makefile.am.user

# Unit-tests
Makefile.test
digibyte-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

# Previous releases
releases

#lcov
*.gcno
*.gcda
/*.info
test_digibyte.coverage/
total.coverage/
fuzz.coverage/
coverage_percent.txt
/cov_tool_wrapper.sh
qa-assets/

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
test/.mypy_cache/

!src/leveldb*/Makefile

/doc/doxygen/

libdigibyteconsensus.pc
contrib/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist

osx_volname
dist/
*.background.tiff

/guix-build-*
