src/*.exe
src/zetacoin
src/zetacoind
src/test_zetacoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.zetacoin

# Compilation and Qt preprocessor part
*.qm
Makefile
zetacoin-qt
Zetacoin-Qt.app

# Unit-tests
Makefile.test
zetacoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
