
## <summary>policy for digibyte</summary>


########################################
## <summary>
##	Transition to digibyte.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`digibyte_domtrans',`
	gen_require(`
		type digibyte_t, digibyte_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, digibyte_exec_t, digibyte_t)
')


########################################
## <summary>
##	Execute digibyte server in the digibyte domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digibyte_initrc_domtrans',`
	gen_require(`
		type digibyte_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, digibyte_initrc_exec_t)
')


########################################
## <summary>
##	Search digibyte lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digibyte_search_lib',`
	gen_require(`
		type digibyte_var_lib_t;
	')

	allow $1 digibyte_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read digibyte lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digibyte_read_lib_files',`
	gen_require(`
		type digibyte_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, digibyte_var_lib_t, digibyte_var_lib_t)
')

########################################
## <summary>
##	Manage digibyte lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digibyte_manage_lib_files',`
	gen_require(`
		type digibyte_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, digibyte_var_lib_t, digibyte_var_lib_t)
')

########################################
## <summary>
##	Manage digibyte lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`digibyte_manage_lib_dirs',`
	gen_require(`
		type digibyte_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, digibyte_var_lib_t, digibyte_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an digibyte environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`digibyte_admin',`
	gen_require(`
		type digibyte_t;
		type digibyte_initrc_exec_t;
		type digibyte_var_lib_t;
	')

	allow $1 digibyte_t:process { ptrace signal_perms };
	ps_process_pattern($1, digibyte_t)

	digibyte_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 digibyte_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, digibyte_var_lib_t)

')

