<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.6.0</string>

  <key>LSArchitecturePriority</key>
  <array>
    <string>x86_64</string>
  </array>

  <key>CFBundleIconFile</key>
  <string>digibyte.icns</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleGetInfoString</key>
  <string>3.0, Copyright © 2009-2014 The DigiByte Core developers</string>

  <key>CFBundleShortVersionString</key>
  <string>3.0</string>

  <key>CFBundleVersion</key>
  <string>3.0</string>

  <key>CFBundleSignature</key>
  <string>????</string>

  <key>CFBundleExecutable</key>
  <string>DigiByte-Qt</string>

  <key>CFBundleIdentifier</key>
  <string>org.digibytefoundation.DigiByte-Qt</string>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>org.digibyte.DigiBytePayment</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>digibyte</string>
      </array>
    </dict>
  </array>

  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>org.digibyte.paymentrequest</string>
      <key>UTTypeDescription</key>
      <string>DigiByte payment request</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.mime-type</key>
        <string>application/x-digibyte-payment-request</string>
        <key>public.filename-extension</key>
        <array>
          <string>digibytepaymentrequest</string>
        </array>
      </dict>
    </dict>
  </array>

  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>org.digibyte.paymentrequest</string>
      </array>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
  </array>

  <key>NSPrincipalClass</key>
    <string>NSApplication</string>

  <key>NSHighResolutionCapable</key>
    <string>True</string>
</dict>
</plist>
