# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit digibyted.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/digibyte/digibyte.conf

[Unit]
Description=DigiByte daemon
After=network.target

[Service]
ExecStart=/usr/bin/digibyted -daemon -conf=/etc/digibyte/digibyte.conf -pid=/run/digibyted/digibyted.pid
# Creates /run/digibyted owned by digibyte
RuntimeDirectory=digibyted
User=digibyte
Type=forking
PIDFile=/run/digibyted/digibyted.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
